body{
    background-color: lightgray;
    }
h1 {
    color: white;
    font-weight: bold;
    font-family: verdana;
    font-size: 200%;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 25px;
    }
a:link, a:visited {
        color: white;
        text-align: center;
        text-decoration: none;
        }    
    